@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

@layer components {
    .info-card-outer {
        @apply flex relative justify-center items-center-safe p-2 max-w-full w-auto h-auto box-border;
    }
    .info-card-middle {
        @apply relative flex-col box-border p-1 px-1.5 w-full h-50 justify-center items-center bg-linear-to-tl from-transparent via-gray-100 to-emerald-100 dark:via-gray-900 dark:to-emerald-900 shadow-emerald-700 dark:shadow-emerald-300 shadow-lg/10 rounded-lg transition-colors duration-300;
    }
    .info-card-inner {
        @apply relative align-top text-gray-600 dark:text-gray-300 text-shadow-gray-300/80 dark:text-shadow-gray-900/80 text-shadow-md max-sm:text-sm md:text-lg lg:text-xl transition-all duration-300 border-b border-gray-500;
    }
}

.anchor {
    @apply transition-colors duration-200;
    color: #252c36; /* Gray-700 (Default Light Mode Text) */
}

[data-theme="dark"] .anchor {
    color: #c9ced7; /* Gray-400 (Default Dark Mode Text) */
}

.anchor:has(.active) {
    background-color: #d2d2d2; /* Light Gray Background */
    color: #000000;            /* Force Black Text */
    opacity: 1;
    transition-duration: 300ms;
}

[data-theme="dark"] .anchor:has(.active) {
    background-color: #353535; /* Dark Gray Background */
    color: #ffffff;
    opacity: 1;
    transition-duration: 300ms;
}