@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    background: #1e1e1e;
}

body::-webkit-scrollbar {
    display: none;
}

.anchor:has(.active) {
    background-color: #353535;
    color: rgb(171, 255, 45);
    border: 1px solid gray;
}
